.highlight pre code .w {
    color: #ffffff;
}

.highlight pre code ._ {
    color: #abb2bf;
}

.highlight pre code .cmt {
    color: #7f848e;
}

.highlight pre code .c {
    color: #56b6c2;
}

.highlight pre code .m {
    color: #c678dd;
}

.highlight pre code .y {
    color: #e5c07b;
}

.highlight pre code .g {
    color: #98c379;
}

.highlight pre code .b {
    color: #61AFEF;
}

.highlight pre code .p {
    color: #e06c75;
}

.highlight pre code .o {
    color: #d19a66;
}