@tailwind base;
@tailwind components;
@tailwind utilities;

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

@layer components {
  .title-1 {
    @apply my-4 block text-5xl font-bold text-dark;
  }

  .title-2 {
    @apply my-4 block text-4xl font-bold text-dark;
  }
  
  .subtitle-h3 {
    @apply my-3 block text-3xl font-bold text-dark
  }
  
  .subtitle-h4 {
    @apply my-3 block text-2xl font-bold text-dark
  }

  .section_text {
    @apply my-3 font-normal;
    font-size: 1.125rem;
  }
}

.learn-target-col {
  word-wrap: break-word;
}

.highlight {
  font-size: 1rem;
  border: none;
}

.highlight pre {
  font-weight: 500;
  white-space: pre;
  color: #f8f8f2;
  background-color: #282C34;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  padding: 1em 1em;
  border-radius: 10px;
}

.highlight pre code {
  display: block;
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all;
  --scrollbar: #282C34;
  --thumb: #777779;
}

.highlight pre code::-webkit-scrollbar {
  width: 18px;
}

.highlight pre code::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

.highlight pre code::-webkit-scrollbar-thumb {
  padding-top: 10px;
  background-color: var(--thumb);
  border: 6px solid var(--scrollbar);
  border-radius: 10px;
}

.highlight .comment {
  color: #6272a4;
}

.highlight .yellow {
  color: #f1fa8c;
}

.highlight .pink {
  color: #ff79c6;
}

.highlight .green {
  color: #50fa7b;
}

.highlight .blue {
  color: #8be9fd;
}

.highlight .purple {
  color: #bd93f9;
}

.highlight ._ {
  color: #fff;
}

.note-text p {
  margin-top: calc(20%/25);
  margin-bottom: calc(20%/25);
  margin-left: calc(20% / 15);
  font-size: 0.925rem;
  font-weight: 500;
  word-break: normal !important;
  word-wrap: break-word !important;
  color: #C5C8C6;
}

.note-text {
  color: #f8f8f2;
  background-color: #333541;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  padding: 0.25em;
  border-left: #4f515f 15px solid;
  border-radius: 10px 5px 5px 10px;
}

.mark-text {
  background-color: rgba(110, 118, 129, 0.4);
  font-size: 90%;
  color: #000;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-family: monospace;
  font-weight: 800;
}
