.white {
  color: #ffffff;
}

.normal {
  color: #b2b7bf;
}

.comment {
  color: #afafba;
  font-style: italic;
  opacity: 0.759;
}

.cyan {
  color: #56b6c2;
}

.magenta {
  color: #c678dd;
}

.yellow {
  color: #e5c07b;
}

.green {
  color: #98c379;
}

.blue {
  color: #61afef;
}

.pink {
  color: #e06c75;
}

.orange {
  color: #d19a66;
}
